<div class="modal fade" id="userModal" tabindex="-1" role="dialog" aria-labelledby="userLabel" th:fragment="userModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content row">
			<div class="modal-header col-lg-12 col-sm-12 col-xs-12">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body col-lg-12 col-sm-12 col-xs-12" id="user-info-box"></div>
			<div class="modal-footer col-lg-12 col-sm-12 col-xs-12">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
<div style="display: none;">
	<div th:fragment="userInfo">
		<h4>User Info</h4>
	</div>
</div>

	
